.App {
  display: flex;
  justify-content: center;
  text-align: center;
}

.incomplete {
  background: #135a13;
  color: #ffffff;
  padding: 0.2rem 0;
  margin: 1rem auto;
  box-shadow: 2px 2px 10px black;
  cursor: pointer;
  opacity: 0.8;
}

.incomplete:hover {
  opacity: 1;
}

.completed {
  background: #811d1d;
  color: #ffffff;
  padding: 0.2rem 0;
  margin: 1rem auto;
  opacity: .3;
  box-shadow: none;
}
